$darkSkyBlue: #7DB4B5;
$lightSkyBlue: #E0EFF1;
$white: #fff;
$black: #262525;

$font-light: 'cooper_hewittlight';
$font-regular: 'cooper_hewittmedium';
$font-bold: 'cooper_hewittbold';

$sectionHeight: 600px; 